<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.0"
      xml:lang="en-us">
    <noinput>
        Please, make a selection.
        <reprompt/>
    </noinput>

    <form id="start">
        <block>
            <prompt>
                News for {{ category }}.
                {% for info in news %}
                    {{ info.title }}:
                    {{ info.content }}.
                {% endfor %}
            </prompt>
        </block>
        <goto next="#end"/>
    </form>
</vxml>
