<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.0"
      xml:lang="en-us">
    <noinput>
        Please make a selection.
        <reprompt/>
    </noinput>

    <form id="start">

        <field name="category_selection">
            <prompt>
                Welcome to news service. Please choose news category you are interested in. Available choices are:
                {% for category in categories %} {{ category }}; {% endfor %}. You can also listen to most important
                news of the day, by saying "news of the day". After selecting main category and subcategory, you can
                choose to listen to the subcategory news or choose to subscribe for text messages subscription service
                for selected subcategory.
            </prompt>
            <grammar mode="voice" root="category_options">
                <rule id="category_options" scope="public">
                    <one-of>
                        {% for category in categories %} <item>{{ category.name }} </item>{% endfor %}
                        <item>News of the day</item>
                    </one-of>
                </rule>
            </grammar>

            <filled>
                <value expr="category_selection"/>
                <submit next="{{ path('subcategories') }}"/>
            </filled>
        </field>
    </form>
</vxml>
