<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.0"
      xml:lang="en-us">
    <form>
        <grammar src="{{ path('subscribe-grammar') }}#grammar" type="application/grammar-xml"/>
        <var name="prompted" expr="false"/>

        <initial name="INITIAL" cond="true" expr="">
            <prompt>
                Please, specify a frequency of the messages, your phone number and, if you want to, another category of subscription.
            </prompt>
            <catch event="nomatch noinput" count="1">
                <prompt>Specify frequency of the messages, method of delivery and, if you want to, another category of subscription. For instance: twice a day, 555 50 50 50, sports.</prompt>
            </catch>
            <catch event="nomatch noinput" count="2">
                <prompt>I'll ask you for information one piece at a time.</prompt>
                <assign name="INITIAL" expr="true"/>
                <assign name="secondCategory" expr=""/>
            </catch>
        </initial>
        <var name="categoryselected" expr="false"/>
        <var name="frequencyselected" expr="false"/>
        <var name="phoneNumberselected" expr="false"/>

        <field name="frequency">
            <prompt>Please choose frequency of your messages </prompt>
            <filled>
                <assign name="frequencyselected" expr="true"/>
            </filled>
        </field>

        <field name="phoneNumber">
            <prompt>Please provide your phone number</prompt>
            <filled>
                <assign name="phoneNumberselected" expr="true"/>
            </filled>
        </field>
        <field name="secondCategory" expr="'none'">
            <prompt>Please, provide additional subscription category or say none if you want to subscribe only category</prompt>
            <filled>
                <assign name="categoryselected" expr="true"/>
            </filled>
        </field>
        <filled mode="any">
            <if cond="prompted==false">
                <if cond="phoneNumberselected==false">
                    Please, provide all fields.
                    <assign name="prompted" expr="true"/>
                    <elseif cond="frequencyselected==false"/>
                    Please, provide all fields.
                    <assign name="prompted" expr="true"/>
                    <elseif cond="phoneNumberselected==false"/>
                    Please, provide all fields.
                    <assign name="prompted" expr="true"/>
                </if>
            </if>
        </filled>
        <filled mode="all">
            <return namelist="frequency phoneNumber secondCategory"/>
        </filled>
    </form>
</vxml>
