<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.0"
      xml:lang="en-us">
    <noinput>
        Please, make a selection.
        <reprompt/>
    </noinput>

    <form id="start">
        <var name="category" expr="'news of the day'"/>

        <block>
            <prompt>
                News of the day
                {% for news in entities %}
                    {{ news.news.title }}:
                    {{ news.news.content }}.
                {% endfor %}
            </prompt>
        </block>
        <goto next="#end"/>

    </form>

    <form id="end">
        <field name="ending">
            <prompt>
                Would you like to hear or subscribe for more news?
            </prompt>
            <grammar mode="voice" root="end">
                <rule id="end" scope="public">
                    <one-of>
                        <item>yes</item>
                        <item>no</item>
                    </one-of>
                </rule>
            </grammar>
            <filled>
                <if cond="ending=='yes'">
                    <clear/>
                    <submit next="{{ path('main') }}"/>
                    <elseif cond="ending=='no'"/>
                    <prompt>
                        Goodbye, thanks for calling.
                    </prompt>
                </if>
            </filled>
        </field>
    </form>
</vxml>
